<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ClassResources</title>
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
        <link rel="stylesheet" type="text/css" href="../css/siteSections.css"> 
    </head>
    <body>
        <!--INICIO DEL HEADER-->
        <header>

            <nav class="nav navOne">  </nav> <!--este es un nav que sirve como fondo, solo una barra que va a ser la de transparencia-->
            <nav class="nav navTwo"><!--este es otro nav que no tiene color de fondo y está en una posición fija superior, permitiendo que los elementos como texto y color no se le aplique transparencia-->
                <ul>
                    <li id="logo">
                        <a href="../index.html"><img src="../img/cohete2.png" alt="Logo"></a>
                    </li>
                    <li class="boton-red">
                        <a href="#">Regístrate GRATIS</a>
                    </li>
                    <li class="select">
                        <a href="#">Iniciar sesión</a>
                    </li>
                    <li class="select  lang">   
                        <a href="#">Course Content :</a>
                        <ul id="dropDown">
                            <li>
                                <a href="../layout/Info.html">Information</a>
                            </li>
                            <li>
                                <a href="../layout/students.html">Students</a>
                            </li>
                            <li>
                                <a href="../layout/gamification.html">Gamification</a>
                            </li>
                            <li>
                                <a href="../layout/schedule.html">Schedule</a>
                            </li>
                            <li>
                                <a href="../layout/topics.html">Topics</a>
                            </li>
                            <li>
                                <a href="../layout/classResources.html">Class (resources)</a>
                            </li>
                            <li>
                                <a href="../layout/onlineActivities.html">Online activities</a>
                            </li>
                            <li>
                                <a href="../layout/speaking.html">Speaking</a>
                            </li>
                            <li>
                                <a href="../layout/listening&reading.html">Listening & Reading</a>
                            </li>
                            <li>
                                <a href="../layout/teachers.html">Teachers</a>
                            </li>
                            <li>
                                <a href="../layout/mission.html">Mission</a>
                            </li>
    
                        </ul>
                    </li>         
                </ul>     
            </nav>

        </header>  
        <!--FIN DEL HEADER-->

        <!--INICIO DE LAS SECCIONES-->
        <section class="box-section">
            <h2 class="titulos"> CLASS RESOURCES</h2>

            <img id="presentacion" src="../img/presentacion.png" alt="presentacion">
            <section class="box-card boxShadow classResources">

                <div>
                    <ul>
                        <li>
                            <h3 class="title">Day 1</h3>
                            <ul>
                                <li class="paragraph tamañoLink">Lesson 1 : Feelings  <a href="https://docs.google.com/presentation/d/1_3LsOZhfCrpOsA1r7znNPTs5i_YgO3RlKpbarv3nFhQ/edit#slide=id.p16">https://docs.google.com/presentation/d/1_3LsOZhfCrpOsA1r7znNPTs5i_YgO3RlKpbarv3nFhQ/edit#slide=id.p16</a> </li>
                            </ul>
                            <ul>
                                <li class="paragraph tamañoLink">Lesson 2 : Jobs  <a href="https://docs.google.com/presentation/d/1yqEHTT5z0jxjqKDrJh-7YKXnanBsQYdWRyCDjah0vs4/edit#slide=id.p1">https://docs.google.com/presentation/d/1yqEHTT5z0jxjqKDrJh-7YKXnanBsQYdWRyCDjah0vs4/edit#slide=id.p1</a> </li>
                            </ul>
                            <ul>
                                <li class="paragraph tamañoLink">Lesson 3 : Places  <a href="https://docs.google.com/presentation/d/1NTS2C8RXT6GEGP2MWMbATeKPiC7GXk5w_kOCnCh34do/edit#slide=id.p1">https://docs.google.com/presentation/d/1NTS2C8RXT6GEGP2MWMbATeKPiC7GXk5w_kOCnCh34do/edit#slide=id.p1</a> </li>
                            </ul>
                            <ul>
                                <li class="paragraph tamañoLink">Lesson 4 : General Review #1  <a href="https://docs.google.com/presentation/d/1cqhUYKfSf7WJKSwvVTPKKozu-f9gm7tkta3BuHJXp9Y/edit#slide=id.p63">https://docs.google.com/presentation/d/1cqhUYKfSf7WJKSwvVTPKKozu-f9gm7tkta3BuHJXp9Y/edit#slide=id.p63</a> </li>
                            </ul>
                        </li>
                        <li>
                            <h3 class="title">Day 2</h3>
                            <ul>
                                <li class="paragraph tamañoLink">Lesson 1 : Food  <a href="https://docs.google.com/presentation/d/1fUPFrKifTIv_9yZ4PH6HbJRQWZl2jlEXqWDtZ1XtglA/edit#slide=id.p1">https://docs.google.com/presentation/d/1fUPFrKifTIv_9yZ4PH6HbJRQWZl2jlEXqWDtZ1XtglA/edit#slide=id.p1</a> </li>
                            </ul>
                            <ul>
                                <li class="paragraph tamañoLink">Lesson 2 : Fruits  <a href="https://docs.google.com/presentation/d/1lCUtwEE5gprIqojuAgtvfqZ7LnMcPoRw2amavwh35tA/edit#slide=id.p38">https://docs.google.com/presentation/d/1lCUtwEE5gprIqojuAgtvfqZ7LnMcPoRw2amavwh35tA/edit#slide=id.p38</a> </li>
                            </ul>
                            <ul>
                                <li class="paragraph tamañoLink">Lesson 3 : Vegetables  <a href="https://docs.google.com/presentation/d/1x8zXyZhH_9uwX4mpgJ-NMb63WpwnKagLh_svavA6w2E/edit#slide=id.p1">https://docs.google.com/presentation/d/1x8zXyZhH_9uwX4mpgJ-NMb63WpwnKagLh_svavA6w2E/edit#slide=id.p1</a> </li>
                            </ul>
                            <ul>
                                <li class="paragraph tamañoLink">Lesson 4 : General Review #2  <a href="https://docs.google.com/presentation/d/1eq9NyXktKWlbFPiQtyRw8jFVIuXUspnhxznRIZ2NdYI/edit#slide=id.p16">https://docs.google.com/presentation/d/1eq9NyXktKWlbFPiQtyRw8jFVIuXUspnhxznRIZ2NdYI/edit#slide=id.p16</a> </li>
                            </ul>
                        </li>
                        <li>
                            <h3 class="title">Day 3</h3>
                            <ul>
                                <li class="paragraph tamañoLink">Lesson 1 : General Review #3  <a href="https://docs.google.com/presentation/d/14xQMAdCASXvpbhwyGjFvnuF_ntnDauhcttJdvknqtyY/edit#slide=id.p1">https://docs.google.com/presentation/d/14xQMAdCASXvpbhwyGjFvnuF_ntnDauhcttJdvknqtyY/edit#slide=id.p1</a> </li>
                            </ul>
                            <ul>
                                <li class="paragraph tamañoLink">Lesson 2 : Repaso  <a href="#"> <br> https/www.Este-es-unLink-vacío.com.ec</a> </li>
                            </ul>
                            <ul>
                                <li class="paragraph tamañoLink">Lesson 3 : Repaso  <a href="#"> <br> https/www.Este-es-unLink-vacío.com.ec</a> </li>
                            </ul>
                            <ul>
                                <li class="paragraph tamañoLink">Lesson 4 : Repaso  <a href="#"> <br> https/www.Este-es-unLink-vacío.com.ec</a> </li>
                            </ul>
                            
                        <li>
                            <h3 class="title">Day 4</h3>
                            <ul>
                                <li class="paragraph tamañoLink">Lesson 1 : Activities #1  <a href="https://docs.google.com/presentation/d/1EMd3WR-zgUsM1sHJrSL8fG802FnIKG3vykfN0mn71Fw/edit#slide=id.p1">https://docs.google.com/presentation/d/1EMd3WR-zgUsM1sHJrSL8fG802FnIKG3vykfN0mn71Fw/edit#slide=id.p1</a> </li>
                            </ul>
                            <ul>
                                <li class="paragraph tamañoLink">Lesson 2 : Activities #2  <a href="https://docs.google.com/presentation/d/1mLqS536EhR27AVOiCPtp_UYeDROTq2yVq0XRuDKZ9cU/edit#slide=id.p1">https://docs.google.com/presentation/d/1mLqS536EhR27AVOiCPtp_UYeDROTq2yVq0XRuDKZ9cU/edit#slide=id.p1</a> </li>
                            </ul>
                            <ul>
                                <li class="paragraph tamañoLink">Lesson 3 : Activities #3  <a href="https://docs.google.com/presentation/d/1g68BDpWbDeGrt19S3cO0heIpuaRS9JfLXtZp6FxGEz8/edit#slide=id.p1">https://docs.google.com/presentation/d/1g68BDpWbDeGrt19S3cO0heIpuaRS9JfLXtZp6FxGEz8/edit#slide=id.p1</a> </li>
                            </ul>
                            <ul>
                                <li class="paragraph tamañoLink">Lesson 4 : General Review #4  <a href="https://docs.google.com/presentation/d/128-gnE9wFetpGyb6zNjp1rZxIprDX6v7LyxfHGcsbmU/edit#slide=id.p1">https://docs.google.com/presentation/d/128-gnE9wFetpGyb6zNjp1rZxIprDX6v7LyxfHGcsbmU/edit#slide=id.p1</a> </li>
                            </ul>
                        </li>
                        <li>
                            <h3 class="title">Day 5</h3>
                            <ul>
                                <li class="paragraph tamañoLink">Lesson 1 : Responsibilities #1  <a href="https://docs.google.com/presentation/d/1EKAkVyxwRQBwobyxOeljtstsR4vp3P5eJXiH3t5fQdI/edit#slide=id.p1">https://docs.google.com/presentation/d/1EKAkVyxwRQBwobyxOeljtstsR4vp3P5eJXiH3t5fQdI/edit#slide=id.p1</a> </li>
                            </ul>
                            <ul>
                                <li class="paragraph tamañoLink">Lesson 2 : Responsibilities #2  <a href="https://docs.google.com/presentation/d/1lWAHEceoHhFWqI_FWLIc96_8ePp8yBZJDj85bD_WPJM/edit#slide=id.p1">https://docs.google.com/presentation/d/1lWAHEceoHhFWqI_FWLIc96_8ePp8yBZJDj85bD_WPJM/edit#slide=id.p1</a> </li>
                            </ul>
                            <ul>
                                <li class="paragraph tamañoLink">Lesson 3 : Responsibilities #3  <a href="https://docs.google.com/presentation/d/1b6v3Z-OKU8Pp9WnrzuBFGKa7iTU2X5c-YNNrZtsAWaY/edit#slide=id.p1">https://docs.google.com/presentation/d/1b6v3Z-OKU8Pp9WnrzuBFGKa7iTU2X5c-YNNrZtsAWaY/edit#slide=id.p1</a> </li>
                            </ul>
                            <ul>
                                <li class="paragraph tamañoLink">Lesson 4 : Responsibilities #4  <a href="https://docs.google.com/presentation/d/14c-GOy54C1WrEF4ayzYc7K71_jCkUWWmG-6X4rgoYQU/edit#slide=id.p15">https://docs.google.com/presentation/d/14c-GOy54C1WrEF4ayzYc7K71_jCkUWWmG-6X4rgoYQU/edit#slide=id.p15</a> </li>
                            </ul>
                        </li>
                        <li>
                            <h3 class="title">Day 6</h3>
                            <ul>
                                <li class="paragraph tamañoLink">Lesson 1 : General Review  <a href="https://docs.google.com/presentation/d/1W9V1DNlR57Q4V0LoO_SBrTcvnRWIo5-snqx30LrkBHQ/edit#slide=id.p1">https://docs.google.com/presentation/d/1W9V1DNlR57Q4V0LoO_SBrTcvnRWIo5-snqx30LrkBHQ/edit#slide=id.p1</a> </li>
                            </ul>
                            
                        </li>
                        <li>
                            <h3 class="title">Day 7</h3>
                            
                        </li>
                        <li>
                            <h3 class="title">Day 8</h3>
                            
                        </li>
                        <li>
                            <h3 class="title">Day 9</h3>
                            
                        </li>
                        
                        
                    </ul>

                </div>

                <div class="clearfix"></div>
            </section>
            
        </section>
        <!--FIN DE LAS SECCIONES-->


        <!--INICIO DEL BOTON-->
        <div id="atras">
            <button>
                <a href="../layout/getStarted.html"><img src="../img/atras2.png" alt="atras"></a>
            </button>
        </div>
        <!--FIN DEL BOTON-->
    

        <!--INICIO DEL FOOTER-->
        <footer id="footerClaro">
        
            <img src="../img/ilustracion2.png" alt="">
   
            <p id="copy">&copy; Desarrollado por Moisés Ortíz Gracia</p>
            <p>
               Más contenido e información en la sección de enlaces <a id="interes" href="#">Enlaces de interés</a> 
               <span id="redes">
                   <a href="#" id="idea" Class="claro">c</a>
                   <a href="#" id="face" Class="claro">f</a>
                   <a href="#" id="youtu" Class="claro">y</a> 
                   <a href="#" id="twitch" Class="claro">t</a> 
               </span>
            </p>
          
      </footer> 
    <!--FIN DEL FOOTER-->
        
    </body>
</html>