<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="../css/styles.css" />
        <link rel="stylesheet" type="text/css" href="../css/siteSections.css" />
        <title>Gamification</title>
        <script src="../reproductor.js"></script>
    </head>
    <body class="fondo-blanco">
        <!--INICIO DEL HEADER-->
        <header>
            <nav class="nav navOne"></nav>
            <!--este es un nav que sirve como fondo, solo una barra que va a ser la de transparencia-->
            <nav class="nav navTwo">
                <!--este es otro nav que no tiene color de fondo y está en una posición fija superior, permitiendo que los elementos como texto y color no se le aplique transparencia-->
                <ul>
                    <li id="logo">
                        <a href="../index.html"><img src="../img/cohete2.png" alt="Logo" /></a>
                    </li>
                    <li class="boton-red">
                        <a href="#">Regístrate GRATIS</a>
                    </li>
                    <li class="select">
                        <a href="#">Iniciar sesión</a>
                    </li>
                    <li class="select lang">
                        <a href="#">Course Content :</a>
                        <ul id="dropDown">
                            <li>
                                <a href="../layout/Info.html">Information</a>
                            </li>
                            <li>
                                <a href="../layout/students.html">Students</a>
                            </li>
                            <li>
                                <a href="../layout/gamification.html">Gamification</a>
                            </li>
                            <li>
                                <a href="../layout/schedule.html">Schedule</a>
                            </li>
                            <li>
                                <a href="../layout/topics.html">Topics</a>
                            </li>
                            <li>
                                <a href="../layout/classResources.html">Class (resources)</a>
                            </li>
                            <li>
                                <a href="../layout/onlineActivities.html">Online activities</a>
                            </li>
                            <li>
                                <a href="../layout/speaking.html">Speaking</a>
                            </li>
                            <li>
                                <a href="../layout/listening&reading.html">Listening & Reading</a>
                            </li>
                            <li>
                                <a href="../layout/teachers.html">Teachers</a>
                            </li>
                            <li>
                                <a href="../layout/mission.html">Mission</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <!--FIN DEL HEADER-->

        <!--INICIO DE LA SECCION-->
        <section class="box-section">
            <h2 class="titulos">GAMIFICATION</h2>
            <section class="box-card gamificacion" id="history">
                <div id="image-gamifi">
                    <img src="../img/hojas.png" alt="" />
                </div>
                <div class="controles video2">
                    <button class="control5 boton estandar">
                        <img src="../img/normal.png" class="normal" alt="normal" />
                    </button>
                    <button class="control4 boton minimo">
                        <img src="../img/minimizar.png" class="minimizar" alt="minimizar" />
                    </button>
                    <button class="control3 boton amplio">
                        <img src="../img/maximizar.png" class="maximizar" alt="maximizar" />
                    </button>
                    <button class="control2 boton recarga">
                        <img src="../img/recargar.png" class="recargar" alt="recargar" />
                    </button>
                    <button class="control1 boton playpause">
                        <img src="../img/play-pause.png" class="play-pause" alt="play-pause" />
                    </button>

                    <br />

                    <video id="videoPlayer2" width="500" style="margin-top: 10px">
                        <source src="../videos/Gamificación.mp4" type="video/mp4" />
                        Tu navegador no soporta el vídeo de HTML5
                    </video>

                    <div class="clearfix"></div>
                </div>
                <br />

                <p class="paragraph">
                    <a
                        href="https://drive.google.com/file/d/1J8Kcs4nFiUAg4Uu1EnAZ4N-E0yQ3bb-y/view?usp=sharing"
                        >https://drive.google.com/file/d/1J8Kcs4nFiUAg4Uu1EnAZ4N-E0yQ3bb-y/view?usp=sharing</a
                    >
                </p>
            </section>
        </section>

        <!--FIN DE LA SECCION-->

        <!--INICIO DEL BOTON-->
        <div id="atras">
            <button>
                <a href="../layout/getStarted.html"><img src="../img/atras2.png" alt="atras" /></a>
            </button>
        </div>
        <!--FIN DEL BOTON-->

        <!--INICIO DEL FOOTER-->
        <footer id="footerClaro">
            <img src="../img/ilustracion2.png" alt="" />

            <p id="copy">&copy; Desarrollado por Moisés Ortíz Gracia</p>
            <p>
                Más contenido e información en la sección de enlaces
                <a id="interes" href="#">Enlaces de interés</a>
                <span id="redes">
                    <a href="#" id="idea" class="claro">c</a>
                    <a href="#" id="face" class="claro">f</a>
                    <a href="#" id="youtu" class="claro">y</a>
                    <a href="#" id="twitch" class="claro">t</a>
                </span>
            </p>
        </footer>
        <!--FIN DEL FOOTER-->
    </body>
</html>
