<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>listening-Reading</title>
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
        <link rel="stylesheet" type="text/css" href="../css/siteSections.css" >
    </head>
    <body>
        <!--INICIO DEL HEADER-->
        <header>

            <nav class="nav navOne">  </nav> <!--este es un nav que sirve como fondo, solo una barra que va a ser la de transparencia-->
            <nav class="nav navTwo"><!--este es otro nav que no tiene color de fondo y está en una posición fija superior, permitiendo que los elementos como texto y color no se le aplique transparencia-->
                <ul>
                    <li id="logo">
                        <a href="../index.html"><img src="../img/cohete2.png" alt="Logo"></a>
                    </li>
                    <li class="boton-red">
                        <a href="#">Regístrate GRATIS</a>
                    </li>
                    <li class="select">
                        <a href="#">Iniciar sesión</a>
                    </li>
                    <li class="select  lang">   
                        <a href="#">Course Content :</a>
                        <ul id="dropDown">
                            <li>
                                <a href="../layout/Info.html">Information</a>
                            </li>
                            <li>
                                <a href="../layout/students.html">Students</a>
                            </li>
                            <li>
                                <a href="../layout/gamification.html">Gamification</a>
                            </li>
                            <li>
                                <a href="../layout/schedule.html">Schedule</a>
                            </li>
                            <li>
                                <a href="../layout/topics.html">Topics</a>
                            </li>
                            <li>
                                <a href="../layout/classResources.html">Class (resources)</a>
                            </li>
                            <li>
                                <a href="../layout/onlineActivities.html">Online activities</a>
                            </li>
                            <li>
                                <a href="../layout/speaking.html">Speaking</a>
                            </li>
                            <li>
                                <a href="../layout/listening&reading.html">Listening & Reading</a>
                            </li>
                            <li>
                                <a href="../layout/teachers.html">Teachers</a>
                            </li>
                            <li>
                                <a href="../layout/mission.html">Mission</a>
                            </li>
    

                        </ul>
                    </li>         
                </ul>     
            </nav>

    </header>  
    <!--FIN DEL HEADER-->

        <!--Inicio DE LAS SECCIONES-->
        <section id="reading" class="cajas">
            <h2 class="titulos" id="reading-1">LISTENING & READING</h2>

            <img id="escucha" src="../img/escucha.png" alt="escucha">
            <img id="lee" src="../img/lectura.png" alt="lee">

            <aside>
                <h3 class="titulo">titles</h3>
                <nav class="indice">
                    <a href="#reading-1">R #1</a> <!-- el href está redireccionando a la sección donde se encuentra el id -->
                    <a href="#reading-2">R #2</a>
                    <a href="#reading-3">R #3</a>
                    <a href="#reading-4">R #4</a>
                    <a href="#reading-5">R #5</a>
                    <a href="#reading-6">R #6</a>
                </nav>
            </aside>
            <div class="audios">
                <ul>

                    <h3>GROUP #1</h3>
                    <li class="text">
                        <h3 class="title" id="reading-2">Reading 1</h3>
                        <audio src="../audios/reading1.ogg" preload="none" controls> </audio>
                        <ul>
                            <li><p class="paragraph">Good afternoon everybody, my name is _________. I am going to talk about feelings, jobs and places. I am joyful. I am not scared. I am a professor. I am not a lawyer. I am at the shopping mall. I am not at the convenience store.</p></li>
                        </ul>

                    </li>
                    <li class="text">
                        <h3 class="title" id="reading-3">Reading 2</h3>
                        <audio src="../audios/reading2.ogg" preload="none" controls> </audio>
                        <ul>
                            <li><p class="paragraph">Good morning everybody, my name is _________. I am going to describe this picture. First, you can see a man.  He is joyful. He is a hairdresser. He is at the convenience store. He has passion fruit juice in the morning. He likes blackberries. He doesn’t like coconuts. He wants cucumbers. He doesn’t want radishes. He sometimes drinks blackberry smoothie at the ice cream parlor. Thanks so much.</p></li>
                        </ul>

                    </li>
                    <li class="text reading3">
                        <h3 class="title" id="reading-4">Reading 3</h3>
                        <audio src="../audios/reading3.ogg" preload="none" controls> </audio>
                        <ul>
                            <li><p class="paragraph">Good evening everybody, my name is _________. I am going to describe this picture. Then, you can see a woman.  She is scared. She is an engineer. She is at the ice cream parlor. She has chicken and rice in the afternoon. She likes avocados. She doesn’t like papayas. She wants garlics. She doesn’t want broccolis. She usually eats chicken wings at the pizza place. She always washes the dishes in the morning. Thanks so much.</p></li>
                        </ul>

                    </li>

                    <h3>GROUP #2</h3>
                    <li class="text">
                        <h3 class="title" id="reading-5">Reading 4</h3>
                        <audio src="../audios/reading4.ogg" preload="none" controls> </audio>
                        <ul>
                            <li><p class="paragraph">Good afternoon everybody, my name is _________. I am going to talk about feelings, jobs and places. I am joyful. I am not scared. I am a professor. I am not a lawyer. I am at the shopping mall. I am not at the convenience store.</p></li>
                        </ul>
                    </li>
                    <li class="text">
                        <h3 class="title" id="reading-6">Reading 5</h3>
                        <audio src="../audios/reading5.ogg" preload="none" controls> </audio>
                        <ul>
                            <li><p class="paragraph">Good morning everybody, my name is _________. I am going to describe this picture. Then, you can see a woman.  She is stressed. She is a secretary. She is at the park. She has chicken and rice in the afternoon. She likes cherries. She wants cucumbers. She always eats chicken wings at the pizza place.  Thanks so much.</p></li>
                        </ul>

                    </li>
                    <li class="text">
                        <h3 class="title">Reading 6</h3> <!--No es necesario colorar su id para redirección ya que el reading anterior hace un mejor desliz al ultimo reading de lo contrario bajaría mucho es por ese motivo que se tomó desde el titulo como si fuera el primer reading (por conveniencia en precición)-->
                        <audio src="../audios/reading6.ogg" preload="none" controls> </audio>
                        <ul>
                            <li><p class="paragraph">Good afternoon everybody, my name is _________. I am going to describe this picture. Besides, you can see a man.  He is a hairdresser. He is at the shopping mall. He has watermelon juice in the evening. He likes coconuts. He wants lettuces. He always plays soccer at the park. He sometimes buys groceries at the convenience store.</p></li>
                        </ul>

                    </li>


                </ul>
                
            

            </div>
        </section>
        <!--FIN DE LAS SECCIONES-->

       <!--INICIO DEL BOTON-->
       <div id="atras">
            <button>
                <a href="../layout/getStarted.html"><img src="../img/atras2.png" alt="atras"></a>
            </button>
       </div>
       <!--FIN DEL BOTON-->


        <!--INICIO DEL FOOTER-->
        <footer id="footerClaro">
        
            <img src="../img/ilustracion2.png" alt="">
   
            <p id="copy">&copy; Desarrollado por Moisés Ortíz Gracia</p>
            <p>
               Más contenido e información en la sección de enlaces <a id="interes" href="#">Enlaces de interés</a> 
               <span id="redes">
                   <a href="#" id="idea" Class="claro">c</a>
                   <a href="#" id="face" Class="claro">f</a>
                   <a href="#" id="youtu" Class="claro">y</a> 
                   <a href="#" id="twitch" Class="claro">t</a> 
               </span>
            </p>
          
      </footer> 
<!--FIN DEL FOOTER-->
        
    </body>
</html>