<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
        <link rel="stylesheet" type="text/css" href="../css/siteSections.css"> 
        <title>OnlineActivities</title>
    </head>
    <body class="fondo-blanco">
        <!--INICIO DEL HEADER-->
        <header>

            <nav class="nav navOne">  </nav> <!--este es un nav que sirve como fondo, solo una barra que va a ser la de transparencia-->
            <nav class="nav navTwo"><!--este es otro nav que no tiene color de fondo y está en una posición fija superior, permitiendo que los elementos como texto y color no se le aplique transparencia-->
                <ul>
                    <li id="logo">
                        <a href="../index.html"><img src="../img/cohete2.png" alt="Logo"></a>
                    </li>
                    <li class="boton-red">
                        <a href="#">Regístrate GRATIS</a>
                    </li>
                    <li class="select">
                        <a href="#">Iniciar sesión</a>
                    </li>
                    <li class="select  lang">   
                        <a href="#">Course Content :</a>
                        <ul id="dropDown">
                            <li>
                                <a href="../layout/Info.html">Information</a>
                            </li>
                            <li>
                                <a href="../layout/students.html">Students</a>
                            </li>
                            <li>
                                <a href="../layout/gamification.html">Gamification</a>
                            </li>
                            <li>
                                <a href="../layout/schedule.html">schedule</a>
                            </li>
                            <li>
                                <a href="../layout/topics.html">Topics</a>
                            </li>
                            <li>
                                <a href="../layout/classResources.html">Class (resources)</a>
                            </li>
                            <li>
                                <a href="../layout/onlineActivities.html">Online activities</a>
                            </li>
                            <li>
                                <a href="../layout/speaking.html">Speaking</a>
                            </li>
                            <li>
                                <a href="../layout/listening&reading.html">Listening & Reading</a>
                            </li>
                            <li>
                                <a href="../layout/teachers.html">Teachers</a>
                            </li>
                            <li>
                                <a href="../layout/mission.html">Mission</a>
                            </li>
    
                        </ul>
                    </li>         
                </ul>     
            </nav>

    </header>  
    <!--FIN DEL HEADER-->

     <!--INICIO DE LA SECCION-->
     <section class="box-section">
        <h2 class="titulos"> ONLINE ACTIVITIES</h2>
        <section class="box-card" id="onli">
            <h3 class="week-title groupOnline">GROUP #1</h3>

            <!--week 1-->
            <div class="week onliActivi">
                <table class="table">
                    <tr><th class="activitiesWeek title" colspan="3">WEEK 1</th></tr>
                    <tr>
                        <th>SKILL</th>
                        <th>ACTIVITY LINK</th>
                        <th>POINTS</th>
                    </tr>
                    <tr>
                        <td class="day">GRAMMAR AND VOCABULARY</td>
                        <td class="td-padding">
                            <table class="interna">
                                <tr>
                                    <td><a href="https://quizlet.com/ec/573997061/feelings-flash-cards/">https://quizlet.com/ec/573997061/feelings-flash-cards/</a></td>
                                    
                                </tr>
                                <tr>
                                    <td> <a href="https://wordwall.net/play/8825/382/354">https://wordwall.net/play/8825/382/354</a> </td>
                                    
                                </tr>
                                   
                            </table>

                        </td>

                        <td class="td-padding">
                            <table class="interna">
                                <tr>
                                    <td class="points">2</td>
                                    
                                </tr>
                                <tr>
                                    <td class="points">2</td>
                                    
                                </tr>
                                    
                            </table>
                        </td>
                           
                    </tr>
                    <tr>
                        <td class="day">LISTENING AND READING</td>
                        <td> <a href="https://www.liveworksheets.com/nh1702099on">https://www.liveworksheets.com/nh1702099on</a> </td>
                        <td class="points">2</td>
                    </tr>

                    <tr>
                        <td class="day">WRITING</td>
                        <td> <a href="https://www.liveworksheets.com/na1702190af">https://www.liveworksheets.com/na1702190af</a></td>
                        <td class="points">2</td>
                    </tr>

                </table>

            </div>

            <!--week 2-->
            <div class="week onliActivi">
                <table class="table">
                    <tr><th class="activitiesWeek title" colspan="3">WEEK 2</th></tr>
                    <tr>
                        <th>SKILL</th>
                        <th>ACTIVITY LINK</th>
                        <th>POINTS</th>
                    </tr>
                    <tr>
                        <td class="day">GRAMMAR <br> <br> AND <br><br> VOCABULARY</td>
                        <td class="td-padding">
                            <table class="interna">
                                <tr>
                                    <td width="411px"><a href="https://bit.ly/3vQB4zi">https://bit.ly/3vQB4zi</a></td>
                                    
                                </tr>
                                <tr>
                                    <td> <a href="https://quizizz.com/join?gc=49798562">https://quizizz.com/join?gc=49798562</a> </td>
                                    
                                </tr>
                                <tr>
                                    <td><a href="https://n9.cl/euhrk">https://n9.cl/euhrk</a></td>
                                    
                                </tr>
                                <tr>
                                    <td> <a href="https://n9.cl/4y8s">https://n9.cl/4y8s</a> </td>
                                    
                                </tr>
                                   
                            </table>

                        </td>

                        <td class="td-padding">
                            <table class="interna">
                                <tr>
                                    <td class="points">2</td>
                                    
                                </tr>
                                <tr>
                                    <td class="points">2</td>
                                    
                                </tr>
                                <tr>
                                    <td class="points">2</td>
                                    
                                </tr>
                                <tr>
                                    <td class="points">2</td>
                                    
                                </tr>
                                    
                            </table>
                        </td>
                           
                    </tr>
                    <tr>
                        <td class="day">LISTENING AND READING</td>
                        <td> <a href="https://www.liveworksheets.com/ed1734122ra">https://www.liveworksheets.com/ed1734122ra</a> </td>
                        <td class="points">2</td>
                    </tr>

                    <tr>
                        <td class="day">WRITING</td>
                        <td class="td-padding">
                            <table class="interna">
                                <tr>
                                    <td><a href="https://www.liveworksheets.com/fp1734600gh">https://www.liveworksheets.com/fp1734600gh</a></td>
                                    
                                </tr>
                                <tr>
                                    <td> <a href="https://www.liveworksheets.com/1-sx1844416bx">https://www.liveworksheets.com/1-sx1844416bx</a> </td>
                                    
                                </tr>
                                   
                            </table>

                        </td>

                        <td class="td-padding">
                            <table class="interna">
                                <tr>
                                    <td class="points">2</td>
                                    
                                </tr>
                                <tr>
                                    <td class="points">2</td>
                                    
                                </tr>
                            </table>
                        </td>
                           
                    </tr>

                </table>

            </div>




            <h3 class="week-title groupOnline">GROUP #2</h3>

            <!--week 1-->
            <div class="week onliActivi">
                <table class="table">
                    <tr><th class="activitiesWeek title" colspan="3">WEEK 1</th></tr>
                    <tr>
                        <th>SKILL</th>
                        <th>ACTIVITY LINK</th>
                        <th>POINTS</th>
                    </tr>
                    <tr>
                        <td class="day">GRAMMAR AND VOCABULARY</td>
                        <td class="td-padding">
                            <table class="interna">
                                <tr>
                                    <td><a href="https://quizlet.com/ec/573997061/feelings-flashcards/">https://quizlet.com/ec/573997061/feelings-flashcards/</a></td>
                                    
                                </tr>
                                <tr>
                                    <td> <a href="https://wordwall.net/play/8825/382/179">https://wordwall.net/play/8825/382/179</a> </td>
                                    
                                </tr>
                                   
                            </table>

                        </td>

                        <td class="td-padding">
                            <table class="interna">
                                <tr>
                                    <td class="points">2</td>
                                    
                                </tr>
                                <tr>
                                    <td class="points">2</td>
                                    
                                </tr>
                                    
                            </table>
                        </td>
                           
                    </tr>
                    <tr>
                        <td class="day">LISTENING AND READING</td>
                        <td> <a href="https://www.liveworksheets.com/bc1702141tv">https://www.liveworksheets.com/bc1702141tv</a> </td>
                        <td class="points">2</td>
                    </tr>

                    <tr>
                        <td class="day">WRITING</td>
                        <td> <a href="https://www.liveworksheets.com/fu1702225hp">https://www.liveworksheets.com/fu1702225hp</a></td>
                        <td class="points">2</td>
                    </tr>

                </table>

            </div>

            <!--week 2-->
            <div class="week onliActivi">
                <table class="table">
                    <tr><th class="activitiesWeek title" colspan="3">WEEK 2</th></tr>
                    <tr>
                        <th>SKILL</th>
                        <th>ACTIVITY LINK</th>
                        <th>POINTS</th>
                    </tr>
                    <tr>
                        <td class="day">GRAMMAR <br> <br> AND <br><br> VOCABULARY</td>
                        <td class="td-padding">
                            <table class="interna">
                                <tr>
                                    <td width="411px"><a href="https://bit.ly/3cbgKAT">https://bit.ly/3cbgKAT</a></td>
                                    
                                </tr>
                                <tr>
                                    <td> <a href="https://quizizz.com/join?gc=49798562">https://quizizz.com/join?gc=49798562</a> </td>
                                    
                                </tr>
                                <tr>
                                    <td><a href="https://n9.cl/euhrk">https://n9.cl/euhrk</a></td>
                                    
                                </tr>
                                <tr>
                                    <td> <a href="https://n9.cl/r4zzk">https://n9.cl/r4zzk</a> </td>
                                    
                                </tr>
                                   
                            </table>

                        </td>

                        <td class="td-padding">
                            <table class="interna">
                                <tr>
                                    <td class="points">2</td>
                                    
                                </tr>
                                <tr>
                                    <td class="points">2</td>
                                    
                                </tr>
                                <tr>
                                    <td class="points">2</td>
                                    
                                </tr>
                                <tr>
                                    <td class="points">2</td>
                                    
                                </tr>
                                    
                            </table>
                        </td>
                           
                    </tr>
                    <tr>
                        <td class="day">LISTENING AND READING</td>
                        <td> <a href="https://www.liveworksheets.com/ve1734188gf">https://www.liveworksheets.com/ve1734188gf</a> </td>
                        <td class="points">2</td>
                    </tr>

                    <tr>
                        <td class="day">WRITING</td>
                        <td class="td-padding">
                            <table class="interna">
                                <tr>
                                    <td><a href="https://www.liveworksheets.com/fp1734600gh">https://www.liveworksheets.com/fp1734600gh</a></td>
                                    
                                </tr>
                                <tr>
                                    <td> <a href="https://www.liveworksheets.com/1-sx1844416bx">https://www.liveworksheets.com/1-sx1844416bx</a> </td>
                                    
                                </tr>
                                   
                            </table>

                        </td>

                        <td class="td-padding">
                            <table class="interna">
                                <tr>
                                    <td class="points">2</td>
                                    
                                </tr>
                                <tr>
                                    <td class="points">2</td>
                                    
                                </tr>
                            </table>
                        </td>
                           
                    </tr>

                </table>

            </div>



        </section>
    </section>


    <!--FIN DE LA SECCION-->

    <!--INICIO DEL BOTON-->
    <div id="atras">
        <button>
            <a href="../layout/getStarted.html"><img src="../img/atras2.png" alt="atras"></a>
        </button>
    </div>
    <!--FIN DEL BOTON-->


    <!--INICIO DEL FOOTER-->
    <footer id="footerClaro">
        
        <img src="../img/ilustracion2.png" alt="">

        <p id="copy">&copy; Desarrollado por Moisés Ortíz Gracia</p>
        <p>
           Más contenido e información en la sección de enlaces <a id="interes" href="#">Enlaces de interés</a> 
           <span id="redes">
               <a href="#" id="idea" Class="claro">c</a>
               <a href="#" id="face" Class="claro">f</a>
               <a href="#" id="youtu" Class="claro">y</a> 
               <a href="#" id="twitch" Class="claro">t</a> 
           </span>
        </p>
      
  </footer> 
    <!--FIN DEL FOOTER-->

        
    </body>
</html>