<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
        <link rel="stylesheet" type="text/css" href="../css/siteSections.css"> 
        <title>Schedule</title>
    </head>
    <body class="fondo-blanco">
        <!--INICIO DEL HEADER-->
        <header>

            <nav class="nav navOne">  </nav> <!--este es un nav que sirve como fondo, solo una barra que va a ser la de transparencia-->
            <nav class="nav navTwo"><!--este es otro nav que no tiene color de fondo y está en una posición fija superior, permitiendo que los elementos como texto y color no se le aplique transparencia-->
                <ul>
                    <li id="logo">
                        <a href="../index.html"><img src="../img/cohete2.png" alt="Logo"></a>
                    </li>
                    <li class="boton-red">
                        <a href="#">Regístrate GRATIS</a>
                    </li>
                    <li class="select">
                        <a href="#">Iniciar sesión</a>
                    </li>
                    <li class="select  lang">   
                        <a href="#">Course Content :</a>
                        <ul id="dropDown">
                            <li>
                                <a href="../layout/Info.html">Information</a>
                            </li>
                            <li>
                                <a href="../layout/students.html">Students</a>
                            </li>
                            <li>
                                <a href="../layout/gamification.html">Gamification</a>
                            </li>
                            <li>
                                <a href="../layout/schedule.html">Schedule</a>
                            </li>
                            <li>
                                <a href="../layout/topics.html">Topics</a>
                            </li>
                            <li>
                                <a href="../layout/classResources.html">Class (resources)</a>
                            </li>
                            <li>
                                <a href="../layout/onlineActivities.html">Online activities</a>
                            </li>
                            <li>
                                <a href="../layout/speaking.html">Speaking</a>
                            </li>
                            <li>
                                <a href="../layout/listening&reading.html">Listening & Reading</a>
                            </li>
                            <li>
                                <a href="../layout/teachers.html">Teachers</a>
                            </li>
                            <li>
                                <a href="../layout/mission.html">Mission</a>
                            </li>
    
                        </ul>
                    </li>         
                </ul>     
            </nav>

    </header>  
    <!--FIN DEL HEADER-->

    <!--INICIO DEL SECCTION-->
    <section class="box-section">
        <h2 class="titulos">SCHEDULE</h2>

        <section class="box-card">
            <h3>GROUP #1</h3>
            <div class="horario">
                <table  class="table">
                    <tr>
                        <th class="title" colspan="6">LUNES</th>
                    </tr>
                    <tr>
                        <th>TEACHER</th>
                        <th>CLASS</th>
                        <th  class="hour">TIME</th>
                        <th>ID</th>
                        <th  class="password">CONTRASEÑA</th>
                        <th>LINK</th>
                    </tr>
                    <tr>
                        <td>Lisbeth Saavedra</td>
                        <td>Lesson1</td>
                        <td>10h00 - 10h40</td>
                        <td>557 446 8373</td>
                        <td>Ec2021</td>
                        <td><a class="link" href="https://us04web.zoom.us/j/5574468373?pwd=NzdrcFVMSVhuYU4xVXI3VWN0UTE3dz09">https://us04web.zoom.us/j/5574468373?pwd=NzdrcFVMSVhuYU4xVXI3VWN0UTE3dz09</a></td>
                    </tr>
                    <tr>
                        <td  class="break" colspan="6" style="text-align: center;">BREAK</td>
                    </tr>
                    <tr>
                        <td>Cynthia Núñez</td>
                        <td>Lesson2</td>
                        <td>14h00 - 10h30</td>
                        <td>758 340 5325</td>
                        <td>Ec2021</td>
                        <td><a class="link" href="https://us04web.zoom.us/j/7583405325?pwd=d28zTnFGZmRVNnA1NC9yYVdwMTNwQT09">https://us04web.zoom.us/j/7583405325?pwd=d28zTnFGZmRVNnA1NC9yYVdwMTNwQT09</a></td>
                    </tr>
                    <tr>
                        <td>Luisa Murillo</td>
                        <td>Lesson3</td>
                        <td>14h40 - 15h10</td>
                        <td>534 979 1723</td>
                        <td>Ec2021</td>
                        <td><a class="link" href="https://us04web.zoom.us/j/5349791723?pwd=cG94Q2t1VmVNUGcyR0t5dFpiMDFzZz09">https://us04web.zoom.us/j/5349791723?pwd=cG94Q2t1VmVNUGcyR0t5dFpiMDFzZz09</a></td>
                    </tr>
                    <tr>
                        <td>Maricela Ante</td>
                        <td>Lesson 4</td>
                        <td>15h20 - 15h50</td>
                        <td>298 361 1826</td>
                        <td>Ec2021</td>
                        <td><a class="link" href="https://us04web.zoom.us/j/2983611826?pwd=dEpEQ2g4bzRBS2FITVU0K0Z2NkdxQT09 ">https://us04web.zoom.us/j/2983611826?pwd=dEpEQ2g4bzRBS2FITVU0K0Z2NkdxQT09 </a></td>
                    </tr>

                
                </table>

            </div>

            <div class="horario">
                <table  class="table">
                    <tr>
                        <th class="title" colspan="6">MARTES</th>
                    </tr>
                    <tr>
                        <th>TEACHER</th>
                        <th>CLASS</th>
                        <th  class="hour">HOUR</th>
                        <th>ID</th>
                        <th  class="password">CONTRASEÑA</th>
                        <th>LINK</th>
                    </tr>
                    <tr>
                        <td>Lisbeth Saavedra</td>
                        <td>Lesson1</td>
                        <td>10h00 - 10h40</td>
                        <td>557 446 8373</td>
                        <td>Ec2021</td>
                        <td><a class="link" href="https://us04web.zoom.us/j/5574468373?pwd=NzdrcFVMSVhuYU4xVXI3VWN0UTE3dz09">https://us04web.zoom.us/j/5574468373?pwd=NzdrcFVMSVhuYU4xVXI3VWN0UTE3dz09</a></td>
                    </tr>
                    <tr>
                        <td  class="break" colspan="6" style="text-align: center;">BREAK</td>
                    </tr>
                    <tr>
                        <td>Maricela Ante</td>
                        <td>Lesson 4</td>
                        <td>14h00 - 14h30</td>
                        <td>298 361 1826</td>
                        <td>Ec2021</td>
                        <td><a class="link" href="https://us04web.zoom.us/j/2983611826?pwd=dEpEQ2g4bzRBS2FITVU0K0Z2NkdxQT09 ">https://us04web.zoom.us/j/2983611826?pwd=dEpEQ2g4bzRBS2FITVU0K0Z2NkdxQT09 </a></td>
                    </tr>
                    <tr>
                        <td>Luisa Murillo</td>
                        <td>Lesson3</td>
                        <td>14h40 - 15h10</td>
                        <td>534 979 1723</td>
                        <td>Ec2021</td>
                        <td><a class="link" href="https://us04web.zoom.us/j/5349791723?pwd=cG94Q2t1VmVNUGcyR0t5dFpiMDFzZz09">https://us04web.zoom.us/j/5349791723?pwd=cG94Q2t1VmVNUGcyR0t5dFpiMDFzZz09</a></td>
                    </tr>
                    <tr>
                        <td>Cynthia Núñez</td>
                        <td>Lesson2</td>
                        <td>15h20 - 15h50</td>
                        <td>758 340 5325</td>
                        <td>Ec2021</td>
                        <td><a class="link" href="https://us04web.zoom.us/j/7583405325?pwd=d28zTnFGZmRVNnA1NC9yYVdwMTNwQT09">https://us04web.zoom.us/j/7583405325?pwd=d28zTnFGZmRVNnA1NC9yYVdwMTNwQT09</a></td>
                    </tr>

                
                </table>

            </div>
            <div class="horario">
                <table  class="table">
                    <tr>
                        <th class="title" colspan="6">MIERCOLES</th>
                    </tr>
                    <tr>
                        <th>TEACHER</th>
                        <th>CLASS</th>
                        <th  class="hour">HOUR</th>
                        <th>ID</th>
                        <th  class="password">CONTRASEÑA</th>
                        <th>LINK</th>
                    </tr>
                    <tr>
                        <td>Lisbeth Saavedra</td>
                        <td>Lesson1</td>
                        <td>10h00 - 10h40</td>
                        <td>557 446 8373</td>
                        <td>Ec2021</td>
                        <td><a class="link" href="https://us04web.zoom.us/j/5574468373?pwd=NzdrcFVMSVhuYU4xVXI3VWN0UTE3dz09">https://us04web.zoom.us/j/5574468373?pwd=NzdrcFVMSVhuYU4xVXI3VWN0UTE3dz09</a></td>
                    </tr>
                    <tr>
                        <td  class="break" colspan="6" style="text-align: center;">BREAK</td>
                    </tr>
                    <tr>
                        <td>Luisa Murillo</td>
                        <td>Lesson3</td>
                        <td>14h00 - 14h30</td>
                        <td>534 979 1723</td>
                        <td>Ec2021</td>
                        <td><a class="link" href="https://us04web.zoom.us/j/5349791723?pwd=cG94Q2t1VmVNUGcyR0t5dFpiMDFzZz09">https://us04web.zoom.us/j/5349791723?pwd=cG94Q2t1VmVNUGcyR0t5dFpiMDFzZz09</a></td>
                    </tr>
                    <tr>
                        <td>Cynthia Núñez</td>
                        <td>Lesson2</td>
                        <td>14h40 - 15h10</td>
                        <td>758 340 5325</td>
                        <td>Ec2021</td>
                        <td><a class="link" href="https://us04web.zoom.us/j/7583405325?pwd=d28zTnFGZmRVNnA1NC9yYVdwMTNwQT09">https://us04web.zoom.us/j/7583405325?pwd=d28zTnFGZmRVNnA1NC9yYVdwMTNwQT09</a></td>
                    </tr>
                    <tr>
                        <td>Maricela Ante</td>
                        <td>Lesson 4</td>
                        <td>15h20 - 15h50</td>
                        <td>298 361 1826</td>
                        <td>Ec2021</td>
                        <td><a class="link" href="https://us04web.zoom.us/j/2983611826?pwd=dEpEQ2g4bzRBS2FITVU0K0Z2NkdxQT09 ">https://us04web.zoom.us/j/2983611826?pwd=dEpEQ2g4bzRBS2FITVU0K0Z2NkdxQT09 </a></td>
                    </tr>

                
                </table>

            </div>
            <h3>GROUP #2</h3>

            <div class="horario">
                <table  class="table">
                    <tr>
                        <th class="title" colspan="6">LUNES</th>
                    </tr>
                    <tr>
                        <th>TEACHER</th>
                        <th>CLASS</th>
                        <th  class="hour">TIME</th>
                        <th>ID</th>
                        <th  class="password">CONTRASEÑA</th>
                        <th>LINK</th>
                    </tr>
                    <tr>
                        <td>Lisbeth Saavedra</td>
                        <td>Lesson1</td>
                        <td>11h00 - 11h40</td>
                        <td>557 446 8373</td>
                        <td>Ec2021</td>
                        <td><a class="link" href="https://us04web.zoom.us/j/5574468373?pwd=NzdrcFVMSVhuYU4xVXI3VWN0UTE3dz09">https://us04web.zoom.us/j/5574468373?pwd=NzdrcFVMSVhuYU4xVXI3VWN0UTE3dz09</a></td>
                    </tr>
                    <tr>
                        <td  class="break" colspan="6" style="text-align: center;">BREAK</td>
                    </tr>
                    <tr>
                        <td>Luisa Murillo</td>
                        <td>Lesson3</td>
                        <td>14h00 - 14h30</td>
                        <td>534 979 1723</td>
                        <td>Ec2021</td>
                        <td><a class="link" href="https://us04web.zoom.us/j/5349791723?pwd=cG94Q2t1VmVNUGcyR0t5dFpiMDFzZz09">https://us04web.zoom.us/j/5349791723?pwd=cG94Q2t1VmVNUGcyR0t5dFpiMDFzZz09</a></td>
                    </tr>

                    <tr>
                        <td>Maricela Ante</td>
                        <td>Lesson 4</td>
                        <td>14h40 - 15h10</td>
                        <td>298 361 1826</td>
                        <td>Ec2021</td>
                        <td><a class="link" href="https://us04web.zoom.us/j/2983611826?pwd=dEpEQ2g4bzRBS2FITVU0K0Z2NkdxQT09 ">https://us04web.zoom.us/j/2983611826?pwd=dEpEQ2g4bzRBS2FITVU0K0Z2NkdxQT09 </a></td>
                    </tr>

                    <tr>
                        <td>Cynthia Núñez</td>
                        <td>Lesson2</td>
                        <td>15h20 - 15h50</td>
                        <td>758 340 5325</td>
                        <td>Ec2021</td>
                        <td><a class="link" href="https://us04web.zoom.us/j/7583405325?pwd=d28zTnFGZmRVNnA1NC9yYVdwMTNwQT09">https://us04web.zoom.us/j/7583405325?pwd=d28zTnFGZmRVNnA1NC9yYVdwMTNwQT09</a></td>
                    </tr>

                
                </table>

            </div>

            <div class="horario">
                <table  class="table">
                    <tr>
                        <th class="title" colspan="6">MARTES</th>
                    </tr>
                    <tr>
                        <th>TEACHER</th>
                        <th>CLASS</th>
                        <th  class="hour">HOUR</th>
                        <th>ID</th>
                        <th  class="password">CONTRASEÑA</th>
                        <th>LINK</th>
                    </tr>
                    <tr>
                        <td>Lisbeth Saavedra</td>
                        <td>Lesson1</td>
                        <td>11h00 - 11h40</td>
                        <td>557 446 8373</td>
                        <td>Ec2021</td>
                        <td><a class="link" href="https://us04web.zoom.us/j/5574468373?pwd=NzdrcFVMSVhuYU4xVXI3VWN0UTE3dz09">https://us04web.zoom.us/j/5574468373?pwd=NzdrcFVMSVhuYU4xVXI3VWN0UTE3dz09</a></td>
                    </tr>
                    <tr>
                        <td  class="break" colspan="6" style="text-align: center;">BREAK</td>
                    </tr>

                    <tr>
                        <td>Cynthia Núñez</td>
                        <td>Lesson2</td>
                        <td>14h00 - 14h30</td>
                        <td>758 340 5325</td>
                        <td>Ec2021</td>
                        <td><a class="link" href="https://us04web.zoom.us/j/7583405325?pwd=d28zTnFGZmRVNnA1NC9yYVdwMTNwQT09">https://us04web.zoom.us/j/7583405325?pwd=d28zTnFGZmRVNnA1NC9yYVdwMTNwQT09</a></td>
                    </tr>

                    <tr>
                        <td>Maricela Ante</td>
                        <td>Lesson 4</td>
                        <td>14h40 - 15h10</td>
                        <td>298 361 1826</td>
                        <td>Ec2021</td>
                        <td><a class="link" href="https://us04web.zoom.us/j/2983611826?pwd=dEpEQ2g4bzRBS2FITVU0K0Z2NkdxQT09 ">https://us04web.zoom.us/j/2983611826?pwd=dEpEQ2g4bzRBS2FITVU0K0Z2NkdxQT09 </a></td>
                    </tr>
                    <tr>
                        <td>Luisa Murillo</td>
                        <td>Lesson3</td>
                        <td>15h20 - 15h50</td>
                        <td>534 979 1723</td>
                        <td>Ec2021</td>
                        <td><a class="link" href="https://us04web.zoom.us/j/5349791723?pwd=cG94Q2t1VmVNUGcyR0t5dFpiMDFzZz09">https://us04web.zoom.us/j/5349791723?pwd=cG94Q2t1VmVNUGcyR0t5dFpiMDFzZz09</a></td>
                    </tr>

                
                </table>

            </div>
            <div class="horario end-groud">
                <table  class="table">
                    <tr>
                        <th class="title" colspan="6">MIERCOLES</th>
                    </tr>
                    <tr>
                        <th>TEACHER</th>
                        <th>CLASS</th>
                        <th  class="hour">HOUR</th>
                        <th>ID</th>
                        <th  class="password">CONTRASEÑA</th>
                        <th>LINK</th>
                    </tr>
                    <tr>
                        <td>Lisbeth Saavedra</td>
                        <td>Lesson1</td>
                        <td>11h00 - 11h40</td>
                        <td>557 446 8373</td>
                        <td>Ec2021</td>
                        <td><a class="link" href="https://us04web.zoom.us/j/5574468373?pwd=NzdrcFVMSVhuYU4xVXI3VWN0UTE3dz09">https://us04web.zoom.us/j/5574468373?pwd=NzdrcFVMSVhuYU4xVXI3VWN0UTE3dz09</a></td>
                    </tr>
                    <tr>
                        <td  class="break" colspan="6" style="text-align: center;">BREAK</td>
                    </tr>
                    <tr>
                        <td>Cynthia Núñez</td>
                        <td>Lesson2</td>
                        <td>14h00 - 14h30</td>
                        <td>758 340 5325</td>
                        <td>Ec2021</td>
                        <td><a class="link" href="https://us04web.zoom.us/j/7583405325?pwd=d28zTnFGZmRVNnA1NC9yYVdwMTNwQT09">https://us04web.zoom.us/j/7583405325?pwd=d28zTnFGZmRVNnA1NC9yYVdwMTNwQT09</a></td>
                    </tr>

                    <tr>
                        <td>Maricela Ante</td>
                        <td>Lesson 4</td>
                        <td>14h40 - 15h10</td>
                        <td>298 361 1826</td>
                        <td>Ec2021</td>
                        <td><a class="link" href="https://us04web.zoom.us/j/2983611826?pwd=dEpEQ2g4bzRBS2FITVU0K0Z2NkdxQT09 ">https://us04web.zoom.us/j/2983611826?pwd=dEpEQ2g4bzRBS2FITVU0K0Z2NkdxQT09 </a></td>
                    </tr>

                    <tr>
                        <td>Luisa Murillo</td>
                        <td>Lesson3</td>
                        <td>15h20 - 15h50</td>
                        <td>534 979 1723</td>
                        <td>Ec2021</td>
                        <td><a class="link" href="https://us04web.zoom.us/j/5349791723?pwd=cG94Q2t1VmVNUGcyR0t5dFpiMDFzZz09">https://us04web.zoom.us/j/5349791723?pwd=cG94Q2t1VmVNUGcyR0t5dFpiMDFzZz09</a></td>
                    </tr>
                
                </table>

            </div>
        </section>

    </section>

    <!--FIN DEL SECCTION-->

    <!--INICIO DEL BOTON-->
    <div id="atras">
        <button>
            <a href="../layout/getStarted.html"><img src="../img/atras2.png" alt="atras"></a>
        </button>
    </div> 
    <!--FIN DEL BOTON-->

   

    <!--INICIO DEL FOOTER-->
    <footer id="footerClaro">
        
        <img src="../img/ilustracion2.png" alt="">

        <p id="copy">&copy; Desarrollado por Moisés Ortíz Gracia</p>
        <p>
           Más contenido e información en la sección de enlaces <a id="interes" href="#">Enlaces de interés</a> 
           <span id="redes">
               <a href="#" id="idea" Class="claro">c</a>
               <a href="#" id="face" Class="claro">f</a>
               <a href="#" id="youtu" Class="claro">y</a> 
               <a href="#" id="twitch" Class="claro">t</a> 
           </span>
        </p>
      
  </footer> 
    <!--FIN DEL FOOTER-->

        
    </body>
</html>