<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Speaking</title>
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
        <link rel="stylesheet" type="text/css" href="../css/siteSections.css"> 
    </head>
    <body>
        <!--INICIO DEL HEADER-->
        <header>

            <nav class="nav navOne">  </nav> <!--este es un nav que sirve como fondo, solo una barra que va a ser la de transparencia-->
            <nav class="nav navTwo"><!--este es otro nav que no tiene color de fondo y está en una posición fija superior, permitiendo que los elementos como texto y color no se le aplique transparencia-->
                <ul>
                    <li id="logo">
                        <a href="../index.html"><img src="../img/cohete2.png" alt="Logo"></a>
                    </li>
                    <li class="boton-red">
                        <a href="#">Regístrate GRATIS</a>
                    </li>
                    <li class="select">
                        <a href="#">Iniciar sesión</a>
                    </li>
                    <li class="select  lang">   
                        <a href="#">Course Content :</a>
                        <ul id="dropDown">
                            <li>
                                <a href="../layout/Info.html">Information</a>
                            </li>
                            <li>
                                <a href="../layout/students.html">Students</a>
                            </li>
                            <li>
                                <a href="../layout/gamification.html">Gamification</a>
                            </li>
                            <li>
                                <a href="../layout/schedule.html">Schedule</a>
                            </li>
                            <li>
                                <a href="../layout/topics.html">Topics</a>
                            </li>
                            <li>
                                <a href="../layout/classResources.html">Class (resources)</a>
                            </li>
                            <li>
                                <a href="../layout/onlineActivities.html">Online activities</a>
                            </li>
                            <li>
                                <a href="../layout/speaking.html">Speaking</a>
                            </li>
                            <li>
                                <a href="../layout/listening&reading.html">Listening & Reading</a>
                            </li>
                            <li>
                                <a href="../layout/teachers.html">Teachers</a>
                            </li>
                            <li>
                                <a href="../layout/mission.html">Mission</a>
                            </li>
    
                        </ul>
                    </li>         
                </ul>     
            </nav>

    </header>  
    <!--FIN DEL HEADER-->
        
         <!--INICIO DE LA SECCION-->
         <section class="box-section">
            <h2 class="titulos"> SPEAKING</h2>
            <section class="box-card">

                

            </section>
        </section>


        <!--FIN DE LA SECCION-->

        <!--INICIO DEL BOTON-->
        <div id="atras">
            <button>
                <a href="../layout/getStarted.html"><img src="../img/atras2.png" alt="atras"></a>
            </button>
        </div>
        <!--FIN DEL BOTON-->


        <!--INICIO DEL FOOTER-->
        <footer id="footerClaro">
        
            <img src="../img/ilustracion2.png" alt="">
   
            <p id="copy">&copy; Desarrollado por Moisés Ortíz Gracia</p>
            <p>
               Más contenido e información en la sección de enlaces <a id="interes" href="#">Enlaces de interés</a> 
               <span id="redes">
                   <a href="#" id="idea" Class="claro">c</a>
                   <a href="#" id="face" Class="claro">f</a>
                   <a href="#" id="youtu" Class="claro">y</a> 
                   <a href="#" id="twitch" Class="claro">t</a> 
               </span>
            </p>
          
      </footer> 
        <!--FIN DEL FOOTER-->
        
    </body>
</html>