<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
        <link rel="stylesheet" type="text/css" href="../css/siteSections.css"> 
        <title>Students</title>
    </head>
    <body class="fondo-blanco">
        <!--INICIO DEL HEADER-->
        <header>

            <nav class="nav navOne">  </nav> <!--este es un nav que sirve como fondo, solo una barra que va a ser la de transparencia-->
            <nav class="nav navTwo"><!--este es otro nav que no tiene color de fondo y está en una posición fija superior, permitiendo que los elementos como texto y color no se le aplique transparencia-->
                <ul>
                    <li id="logo">
                        <a href="../index.html"><img src="../img/cohete2.png" alt="Logo"></a>
                    </li>
                    <li class="boton-red">
                        <a href="#">Regístrate GRATIS</a>
                    </li>
                    <li class="select">
                        <a href="#">Iniciar sesión</a>
                    </li>
                    <li class="select  lang">   
                        <a href="#">Course Content :</a>
                        <ul id="dropDown">
                            <li>
                                <a href="../layout/Info.html">Information</a>
                            </li>
                            <li>
                                <a href="../layout/students.html">Students</a>
                            </li>
                            <li>
                                <a href="../layout/gamification.html">Gamification</a>
                            </li>
                            <li>
                                <a href="../layout/schedule.html">Schedule</a>
                            </li>
                            <li>
                                <a href="../layout/topics.html">Topics</a>
                            </li>
                            <li>
                                <a href="../layout/classResources.html">Class (resources)</a>
                            </li>
                            <li>
                                <a href="../layout/onlineActivities.html">Online activities</a>
                            </li>
                            <li>
                                <a href="../layout/speaking.html">Speaking</a>
                            </li>
                            <li>
                                <a href="../layout/listening&reading.html">Listening & Reading</a>
                            </li>
                            <li>
                                <a href="../layout/teachers.html">Teachers</a>
                            </li>
                            <li>
                                <a href="../layout/mission.html">Mission</a>
                            </li>
    
                        </ul>
                    </li>         
                </ul>     
            </nav>

    </header>  
    <!--FIN DEL HEADER-->

        <!--INICIO DE LA SECCION-->
        <section class="box-section">
            <h2 class="titulos">STUDENTS</h2>
            <section class="box-card studentsss">
                <div id="students">
                    <div>
                        <div class="student"><img src="../img/astro1.png" alt=""></div> 
                        <div><p class="paragraph">Bejarano Sebastián</p></div>
                        
                    </div>
                    <div>
                        <div class="student"><img src="../img/astro1.png" alt=""></div>
                        <div><p class="paragraph">Bolaños Matías</p></div>
                    </div>
                    <div>
                        <div class="student"><img src="../img/astro1.png" alt=""></div>
                        <div><p class="paragraph">Bone Juliana</p></div>
                    </div>
                    <div>
                        <div class="student"><img src="../img/astro1.png" alt=""></div>
                        <div><p class="paragraph">Díaz Josenith</p></div>
                    </div>
                    <div>
                        <div class="student"><img src="../img/astro1.png" alt=""></div>
                        <div><p class="paragraph">Guevara Dara</p></div>
                    </div>
                    <div>
                        <div class="student"><img src="../img/astro1.png" alt=""></div>
                        <div><p class="paragraph">Hidalgo Fiorella</p></div>
                    </div>
                    <div>
                        <div class="student"><img src="../img/astro1.png" alt=""></div>
                        <div><p class="paragraph">Mejía Renato</p></div>
                    </div>
                    <div>
                        <div class="student"><img src="../img/astro1.png" alt=""></div>
                        <div><p class="paragraph">Mina Jhendelyn</p></div>
                    </div>
                    <div>
                        <div class="student"><img src="../img/astro1.png" alt=""></div>
                        <div><p class="paragraph">Nicolás Tenorio</p></div>
                    </div>
                    <div>
                        <div class="student"><img src="../img/astro1.png" alt=""></div>
                        <div><p class="paragraph">Tufiño Roy</p></div>
                    </div>
                    <div>
                        <div class="student"><img src="../img/astro1.png" alt=""></div> 
                        <div><p class="paragraph">Velez Daniel</p></div>     
                    </div>
                    <div>
                        <div class="student"><img src="../img/astro1.png" alt=""></div>
                        <div><p class="paragraph">Villareal Iker</p></div>
                    </div>
                    <div>
                        <div class="student"><img src="../img/astro1.png" alt=""></div>
                        <div><p class="paragraph">Boada Elisa</p></div>
                    </div>
                    <div>
                        <div class="student"><img src="../img/astro1.png" alt=""></div>
                        <div><p class="paragraph">Carvache Jhonny</p></div>
                    </div>
                    <div>
                        <div class="student"><img src="../img/astro1.png" alt=""></div>
                        <div><p class="paragraph">Cetre Danna</p></div>
                    </div>
                    <div>
                        <div class="student"><img src="../img/astro1.png" alt=""></div>
                        <div><p class="paragraph">Ezequiel Lamilla</p></div>
                    </div>
                    <div>
                        <div class="student"><img src="../img/astro1.png" alt=""></div>
                        <div><p class="paragraph">Gómes Geanny</p></div>
                    </div>
                    <div>
                        <div class="student"><img src="../img/astro1.png" alt=""></div>
                        <div><p class="paragraph">Martínez Justin</p></div>
                    </div>
                    <div>
                        <div class="student"><img src="../img/astro1.png" alt=""></div>
                        <div><p class="paragraph">Solis Jostin</p></div>
                    </div>
                    <div>
                        <div class="student"><img src="../img/astro1.png" alt=""></div>
                        <div><p class="paragraph">Zambrano Bryanna</p></div>
                    </div>
                     
               </div>
               <div class="clearfix"></div>

            </section>
        </section>


        <!--FIN DE LA SECCION-->

        <!--INICIO DEL BOTON-->
        <div id="atras">
            <button>
                <a href="../layout/getStarted.html"><img src="../img/atras2.png" alt="atras"></a>
            </button>
        </div>
        <!--FIN DEL BOTON-->


        <!--INICIO DEL FOOTER-->
        <footer>
        
            <img src="../img/ilustracion2.png" alt="">
   
            <p id="copy">&copy; Desarrollado por Moisés Ortíz Gracia</p>
            <p>
               Más contenido e información en la sección de enlaces <a id="interes" href="#">Enlaces de interés</a> 
               <span id="redes">
                   <a href="#" id="idea">c</a>
                   <a href="#" id="face">f</a>
                   <a href="#" id="youtu">y</a> 
                   <a href="#" id="twitch">t</a> 
               </span>
            </p>
          
       </footer> 
        <!--FIN DEL FOOTER-->

        
    </body>
</html>