<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
        <link rel="stylesheet" type="text/css" href="../css/siteSections.css"> 
        <title>Teachers</title>
    </head>
    <body class="fondo-blanco">
        <!--INICIO DEL HEADER-->
        <header>

            <nav class="nav navOne">  </nav> <!--este es un nav que sirve como fondo, solo una barra que va a ser la de transparencia-->
            <nav class="nav navTwo"><!--este es otro nav que no tiene color de fondo y está en una posición fija superior, permitiendo que los elementos como texto y color no se le aplique transparencia-->
                <ul>
                    <li id="logo">
                        <a href="../index.html"><img src="../img/cohete2.png" alt="Logo"></a>
                    </li>
                    <li class="boton-red">
                        <a href="#">Regístrate GRATIS</a>
                    </li>
                    <li class="select">
                        <a href="#">Iniciar sesión</a>
                    </li>
                    <li class="select  lang">   
                        <a href="#">Course Content :</a>
                        <ul id="dropDown">
                            <li>
                                <a href="../layout/Info.html">Information</a>
                            </li>
                            <li>
                                <a href="../layout/students.html">Students</a>
                            </li>
                            <li>
                                <a href="../layout/gamification.html">Gamification</a>
                            </li>
                            <li>
                                <a href="../layout/schedule.html">Schedule</a>
                            </li>
                            <li>
                                <a href="../layout/topics.html">Topics</a>
                            </li>
                            <li>
                                <a href="../layout/classResources.html">Class (resources)</a>
                            </li>
                            <li>
                                <a href="../layout/onlineActivities.html">Online activities</a>
                            </li>
                            <li>
                                <a href="../layout/speaking.html">Speaking</a>
                            </li>
                            <li>
                                <a href="../layout/listening&reading.html">Listening & Reading</a>
                            </li>
                            <li>
                                <a href="../layout/teachers.html">Teachers</a>
                            </li>
                            <li>
                                <a href="../layout/mission.html">Mission</a>
                            </li>
    
                        </ul>
                    </li>         
                </ul>     
            </nav>

    </header>  
    <!--FIN DEL HEADER-->

    <!--INICIO DEL SECCTION-->
    <section class="box-section">
        <section class="perfil">

            <div class="info">
                <h2 class="gris">INSTRUCTOR</h2>
                <h1>Maricela Ante</h1>
                <br>
                <h2 class="Profecion">Docente</h2>
                <br>
                <h3 class="gris gris2">Titulos</h3>
                <p>Degree in Applied Linguistics with a major in Teaching Englis.</p>
                <p>Master in Innovation in Education.</p>
                <br>
                <br>
                <h2 class="yo">Sobre mí</h2>
                <p>English teacher at Don Bosco since 2017. Private tutor for 10 years. I am currently a Thesis assessor and reader for the Education School at PUCESE.</p> 
                <p> I am a former SUSI scholar (Study of the U.S. Institutes). I love to design online interactive class resources and hope one day to major in Educational Research. </p>
            </div>
            <div class="image" >
                <div><img src="../img/Mari2.jpeg" alt=""></div>
                <a href=""><img src="../img/face.png" alt="facebook"></a><br>
                <a href=""><img src="../img/instag.png" alt="instagram"></a><br>
                <a href="" class="whatsa"><img src="../img/whatsa.png" alt="whatsapp"> <p id="number1">0994682787</p></a>
            </div>

            <div class="clearfix"></div>
        
        </section>
        <hr class="linea"> 
        <br>



        <section class="perfil">

            <div class="info">
                <h2 class="gris">INSTRUCTOR</h2>
                <h1>Lisbeth Saavedra</h1>
                <br>
                <h2 class="Profecion">Docente</h2>
                <br>
                <h3 class="gris gris2">Titulos</h3>
                <p>Degree in Applied Linguistics with a major in Teaching English.</p>
                <p>Master in Pedagogy of English as a Foreign Language</p>
                <p>First certificate in English. B2 level</p>
                <br>
                <br>
                <h2 class="yo">Sobre mí</h2>
                <p>I have 5 years of experience in teaching English to children at Don Bosco school. I have been a private English language teacher for five years. I am a former SUSI scholar (Study of the US Institutes). 
                </p>
                <p>I am passionate about teaching English to children and I love finding technological tools and interactive ways to make my students learn better.
                    </p>
            </div>
            <div class="image" >
                <div><img src="../img/teacher2.jpeg" alt=""></div>
                <a href=""><img src="../img/face.png" alt="facebook"></a><br>
                <a href=""><img src="../img/instag.png" alt="instagram"></a><br>
                <a href="" class="whatsa"><img src="../img/whatsa.png" alt="whatsapp"> <p id="number2">0989456386</p></a>
            </div>

            <div class="clearfix"></div>
        
        </section>
        <hr class="linea"> 
        <br>



        <section class="perfil">

            <div class="info">
                <h2 class="gris">INSTRUCTOR</h2>
                <h1>Cynthia Núñez</h1>
                <br>
                <h2 class="Profecion">Docente</h2>
                <br>
                <h3 class="gris gris2">Titulos</h3>
                <p>Degree in Applied Linguistics</p>
                <br>
                <br>
                <h2 class="yo">Sobre mí</h2>
                <p>English teacher at Don Bosco since 2019. I enjoy teaching English and I love learning about how to teach and what techniques and methods I may apply in order to make the learning process a great experience.</p>
            </div>
            <div class="image" >
                <div><img src="../img/teacher3.jpeg" alt=""></div>
                <a href=""><img src="../img/face.png" alt="facebook"></a><br>
                <a href=""><img src="../img/instag.png" alt="instagram"></a><br>
                <a href="" class="whatsa"><img src="../img/whatsa.png" alt="whatsapp"> <p id="number3">0984610425</p></a>
            </div>

            <div class="clearfix"></div>
        
        </section>
        <hr class="linea"> 
        <br>


        <section class="perfil">

            <div class="info">
                <h2 class="gris">INSTRUCTOR</h2>
                <h1>Luisa Murillo</h1>
                <br>
                <h2 class="Profecion">Docente</h2>
                <br>
                <h3 class="gris gris2">Titulos</h3>
                <p>Degree in Applied Linguistics with a major in Teaching English.</p>
                <p>Master in Pedagogy of English as a Foreign Language</p>
                <br>
                <br>
                <h2 class="yo">Sobre mí</h2>
                <p>English teacher at Don Bosco since 2017. Private tutor for 6 years. I have studied English since I was 5 years old. I am a certified English teacher with B2 level in PET.</p>
                <p> I love teaching English in personalized classes and I hope one day to create an English Language Institution for people from Esmeraldas.</p>
            </div>
            <div class="image" >
                <div><img src="../img/teacher4.jpeg" alt=""></div>
                <a href=""><img src="../img/face.png" alt="facebook"></a><br>
                <a href=""><img src="../img/instag.png" alt="instagram"></a><br>
                <a href="" class="whatsa"><img src="../img/whatsa.png" alt="whatsapp"> <p id="number4">0982617689</p></a>
            </div>

            <div class="clearfix"></div>
        
        </section>
         
            

    </section>

    <!--FIN DEL SECCTION-->
    

    <!--INICIO DEL BOTON-->
    <div id="atras">
        <button>
            <a href="../layout/getStarted.html"><img src="../img/atras2.png" alt="atras"></a>
        </button>
    </div>
    <!--FIN DEL BOTON-->

   

    <!--INICIO DEL FOOTER-->
    <footer id="footerClaro">
        
        <img src="../img/ilustracion2.png" alt="">

        <p id="copy">&copy; Desarrollado por Moisés Ortíz Gracia</p>
        <p>
           Más contenido e información en la sección de enlaces <a id="interes" href="#">Enlaces de interés</a> 
           <span id="redes">
               <a href="#" id="idea" Class="claro">c</a>
               <a href="#" id="face" Class="claro">f</a>
               <a href="#" id="youtu" Class="claro">y</a> 
               <a href="#" id="twitch" Class="claro">t</a> 
           </span>
        </p>
      
  </footer> 
    <!--FIN DEL FOOTER-->

        
    </body>
</html>