<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
        <link rel="stylesheet" type="text/css" href="../css/siteSections.css"> 
        <title>Topics</title>
    </head>
    <body class="fondo-blanco">
        <!--INICIO DEL HEADER-->
        <header>

            <nav class="nav navOne">  </nav> <!--este es un nav que sirve como fondo, solo una barra que va a ser la de transparencia-->
            <nav class="nav navTwo"><!--este es otro nav que no tiene color de fondo y está en una posición fija superior, permitiendo que los elementos como texto y color no se le aplique transparencia-->
                <ul>
                    <li id="logo">
                        <a href="../index.html"><img src="../img/cohete2.png" alt="Logo"></a>
                    </li>
                    <li class="boton-red">
                        <a href="#">Regístrate GRATIS</a>
                    </li>
                    <li class="select">
                        <a href="#">Iniciar sesión</a>
                    </li>
                    <li class="select  lang">   
                        <a href="#">Course Content :</a>
                        <ul id="dropDown">
                            <li>
                                <a href="../layout/Info.html">Information</a>
                            </li>
                            <li>
                                <a href="../layout/students.html">Students</a>
                            </li>
                            <li>
                                <a href="../layout/gamification.html">Gamification</a>
                            </li>
                            <li>
                                <a href="../layout/schedule.html">Schedule</a>
                            </li>
                            <li>
                                <a href="../layout/topics.html">Topics</a>
                            </li>
                            <li>
                                <a href="../layout/classResources.html">Class (resources)</a>
                            </li>
                            <li>
                                <a href="../layout/onlineActivities.html">Online activities</a>
                            </li>
                            <li>
                                <a href="../layout/speaking.html">Speaking</a>
                            </li>
                            <li>
                                <a href="../layout/listening&reading.html">Listening & Reading</a>
                            </li>
                            <li>
                                <a href="../layout/teachers.html">Teachers</a>
                            </li>
                            <li>
                                <a href="../layout/mission.html">Mission</a>
                            </li>
    
                        </ul>
                    </li>         
                </ul>     
            </nav>

       </header>  
    <!--FIN DEL HEADER-->

    <!--INICIO DEL SECCTION-->
        <section class="box-section">
            <h2 class="titulos">TOPICS</h2>
            <section class="box-card">

                <!--WEEK 1-->
                <h2 class="week-title">Week #1: Present Simple with the verb to Be</h2>
                <div class="week">
                    <table class="table">
                        <tr>
                            <th>DAYS</th>
                            <th>TOPICS</th>
                            <th>VOCABULARIES</th>
                        </tr>
                        <tr>
                            <td class="day">#1</td>
                            <td class="td-padding">
                                <table class="interna topics">
                                    <tr>
                                        <td>Feelings</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>Jobs</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>Places</td>
                                    </tr>   
                                </table>

                            </td>

                            <td class="td-padding">
                                <table class="interna" width="762px">
                                    <tr>
                                        <td>joyful, scared, angry, relaxed, stressed, surprised</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>accountant, lawyer, engineer, secretary, professor, hairdresser</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>park, ice-cream parlor, pizza place, shopping mall, convenience store, river</td>
                                    </tr>
                                        
                                </table>


                            </td>
                            
                            
                        </tr>
                        <tr>
                            <td class="day">#2</td>
                            <td class="td-padding">
                                <table class="interna topics">
                                    <tr>
                                        <td>Food</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>Fruits</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>Vegetables</td>
                                    </tr>  
                                     
                                </table>

                            </td>

                            <td class="td-padding">
                                <table class="interna" width="762px">
                                    <tr>
                                        <td>cheese and plantain, chicken and rice, porridge, fried fish and salad, passion fruit juice, watermelon juice</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>avocado, papaya, kiwi, coconut, blackberry, cherry</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>garlic, cucumber, radish, broccoli, lettuce, beet</td>
                                    </tr>   
                                </table>


                            </td>
                            
                            
                        </tr>
                        <tr>
                            <td class="day">#3</td>
                            <td class="topics-fuera">Review</td>
                            <td>Feelings, Jobs and Places</td>
                        </tr>

                    </table>

                </div>

                <!--WEEK 2  -->
                <h2 class="week-title">Week #2: Present Simple with other verbs</h2>
                <div class="week">
                    <table  class="table">
                        <tr>
                            <th>DAYS</th>
                            <th>TOPICS</th>
                            <th>VOCABULARIES</th>
                        </tr>
                        <tr>
                            <td class="day">#1</td>
                            <td class="td-padding week2">
                                <table class="interna topics">
                                    <tr>
                                        <td>Activities</td>
                                        
                                    </tr>
                                    <tr>
                                        <td id="td-ancho">Actions</td>
                                        
                                    </tr>
    
                                </table>

                            </td>

                            <td class="td-padding week2">
                                <table class="interna" width="762px">
                                    <tr>
                                        <td>eat chicken wings, drink blackberry smoothie, play soccer, go fishing, buy groceries, buy clothes</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>surf on the internet, text messages, watch videos, do online homework, play interactive games, take virtual classes</td>
                                        
                                    </tr>
                                      
                                </table>
                            </td>
                                   
                        </tr>   

                    </table>
                </div>

                <!--WEEK3-->
                <h2 class="week-title">Week #3: Past Simple</h2>
                <div class="week week-ultima">
                    <table  class="table">
                        <tr>
                            <th>DAYS</th>
                            <th>TOPICS</th>
                            <th>VOCABULARIES</th>
                        </tr>
                        <tr>
                            <td class="day">#1</td>
                            <td class="topics-fuera">Places</td>
                            <td>hospital, drugstore, school, bank, beach, church</td>
                        </tr>
                        <tr>
                            <td class="day">#2</td>
                            <td class="topics-fuera">Things to do</td>
                            <td>use my tablet, listen to pop music, turn on the computer, turn off the cellphone, watch youtube videos, play video games</td>
                        </tr>
                        <tr>
                            <td class="day">#3</td>
                            <td class="topics-fuera">Things to do</td>
                            <td>take a test, read stories, make a video call, eat hamburgers, drink coke, put on my earphones</td>
                        </tr>
                    </table>

            
            </section>
        </section>

        <!--FIN DEL SECCTION-->

        <!--INICIO DEL BOTON-->
        <div id="atras">
            <button>
                <a href="../layout/getStarted.html"><img src="../img/atras2.png" alt="atras"></a>
            </button>
        </div>
        <!--FIN DEL BOTON-->


        <!--INICIO DEL FOOTER-->
        <footer>
        
            <img src="../img/ilustracion2.png" alt="">
   
            <p id="copy">&copy; Desarrollado por Moisés Ortíz Gracia</p>
            <p>
               Más contenido e información en la sección de enlaces <a id="interes" href="#">Enlaces de interés</a> 
               <span id="redes">
                   <a href="#" id="idea">c</a>
                   <a href="#" id="face">f</a>
                   <a href="#" id="youtu">y</a> 
                   <a href="#" id="twitch">t</a> 
               </span>
            </p>
          
        </footer> 
        <!--FIN DEL FOOTER-->

        
    </body>
</html>